* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
:root {
  --bg-color: rgb(66, 214, 236);
  --pink: rgb(240, 140, 235);
  --hover-color: rgba(240, 140, 235, 0.6);
}

html {
  background-color: var(--bg-color);
  font-size: 65.2px;
}

body,
.customFont {
  font-family: "Odibee Sans";
}
/* --------home page mandala image ---------- */
a {
  color: black;
  text-decoration: none;
}
.mainsection {
  display: grid;
  grid-template-columns: 30vw 70vw;
  width: 100%;
  height: 100vh;
}

.mandala {
  /* height: auto; */
  position: relative;
}

.mandalaImg {
  position: absolute;
  top: 0vh;
  right: 15%;
}

.mandala img {
  height: 100vh;
  object-fit: default;
  animation: rotateHomeImg 1200s infinite ease;
  border-radius: 50%;
}

@keyframes rotateHomeImg {
  0% {
  }

  100% {
    transform: rotateZ(3600deg);
  }
}

#navbar {
  padding: 15px;
  position: absolute;
  z-index: 1000;
  right: 15%;
}
/* ----------- list items menu----------- */
.menu {
  display: flex;
  float: right;
  font-family: "Odibee Sans";
  letter-spacing: 2px;
  width: 50vw;
  justify-content: space-between;
}
.creative {
  margin-left: 10px;
  width: 90%;
  font-size: 18px;
  border-radius: 10px;
  font-family: "Odibee Sans";
  cursor: pointer;
  font-weight: bold;
  padding: 10px 10px;
  background-color: var(--hover-color);
  margin: 0 15px 0 0;
}
.creative:hover,
button:hover {
  background-color: var(--pink);
}
.menu li {
  font-size: 18px;
  border-radius: 10px;
  font-family: "Odibee Sans";
  cursor: pointer;
  list-style-type: none;
  font-weight: bold;
  padding: 10px 15px;
  background-color: var(--pink);
  width: 8vw;
  height: 4vh;
  text-align: center;
  transition: height 0.7s ease-in-out;
}
.menu li:hover {
  height: 6vh;
}

.menu li:hover > a {
  color: white;
}

.menu li a {
  color: black;
  text-decoration: none;
  text-align: center;
}

/* --------image and intro part-------- */
.introcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  text-align: center;
  font-family: "Odibee Sans";
  color: black;
}

h1 {
  font-size: 45px;
  font-family: "Odibee Sans";
  letter-spacing: 2px;
}
h4 {
  font-size: 25px;
  margin-bottom: 2.5vh;
  font-family: "Odibee Sans";
  letter-spacing: 2px;
}
.introcard h4 {
  margin-bottom: 0vh;
}
#hire {
  width: 25%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: var(--pink);
  font-size: 20px;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
}
#hire:hover > a {
  color: white;
}
/* -------------CONTENT-------------- */

/* -------------ABOUT-------------- */

#aboutinfo {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-gap: 10px;
  font-family: "Odibee Sans";
  margin: 2rem 0.8rem 0.8rem 0.8rem;
  box-shadow: 0px 0px 10px;
}
.about {
  background-color: var(--pink);
  padding: 0.5rem;
}
.basicinfo {
  padding: 0.5rem;
}
.age,
.email,
.phone,
.address,
.language,
.social,
.portfolio {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  line-height: 45px;
}

.h {
  animation: increasefontsize 1s infinite ease;
}

.i {
  animation: decreasefontsize 1s infinite ease;
}

.exclamation {
  display: inline-block;
  animation: tilt 1s infinite ease;
}

@keyframes increasefontsize {
  0% {
   opacity: 0;
    color: black;
  }
  50% {
opacity: 0.6;
    color: var(--bg-color);
  }

  100% {
opacity: 1;
    color: red;
  }
}

@keyframes decreasefontsize {
  0% {
    opacity: 0;
    color: black;
  }
  50% {
    opacity: 0.6;
    color: red;
  }

  100% {
    opacity: 1;
    color: yellow;
  }
}

@keyframes tilt {
  0% {
    transform: skewY(0deg);
    color: black;

  }
  50% {
    transform: skewY(30deg);
    color: yellow;


  }

  100% {
    transform: skewY(60deg);
    color: green;


  }
}



p {
  font-size: 20px;
  font-family: "Comfortaa";
}
.abouttxt {
  line-height: 25px;
  font-family: "Comfortaa";
  margin-top: 25px;
  text-align: center;
}
h3 {
  color: white;
  font-size: 35px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
h6 {
  font-size: 18px;
  margin: 0 10px 10px 0;
  font-family: "Comfortaa";
}

.skillgrid {
  display: grid;
  grid-template-columns: 0.9fr 0.1fr;
  grid-template-rows: repeat(8, 6vh);
}

#animateMe:hover
  > #profskills
  > .professionaldiv
  > .skillgrid
  > .skillname
  > .animateSkills80 {
  animation: animateSkills80 4s 1 ease-in-out forwards,slideLeft 4s 1 forwards;
}

#animateMe:hover
  > #profskills
  > .professionaldiv
  > .skillgrid
  > .skillname
  > .animateSkills70 {
  animation: animateSkills70 4s 1 ease-in-out forwards,slideLeft 4s 1 forwards;
}

#animateMe:hover
  > #profskills
  > .professionaldiv
  > .skillgrid
  > .skillname
  > .animateSkills90 {
  animation: animateSkills90 4s 1 ease-in-out forwards,slideLeft 4s 1 forwards;
}

#animateMe:hover
  > #profskills
  > .professionaldiv
  > .skillgrid
  > .skillname
  > .animateSkills60 {
  animation: animateSkills60 4s 1 ease-in-out forwards,slideLeft 4s 1 forwards;
}

#animateMe:hover
  > #profskills
  > .professionaldiv
  > .skillgrid
  > .skillname
  > .animateSkills40 {
  animation: animateSkills40 4s 1 ease-in-out forwards,slideLeft 4s 1 forwards;
}



.bar {
  background-color: var(--bg-color);
  height: 20px;
  display: flex;
  justify-content: flex-end;
  width: 0px;
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
  opacity: 0;
}

@keyframes animateSkills80 {
  0% {
    width: 0%;
    opacity: 0;

  }

  1% {
    width: 1%;
    opacity: 1;


  }

  100% {
    width: 80%;
    opacity: 1;

  }
}

@keyframes animateSkills90 {
  0% {
    width: 0%;
    opacity: 0;

  }

  1% {
    width: 1%;
    opacity: 1;


  }

  100% {
    width: 90%;
    opacity: 1;

  }
}

@keyframes animateSkills70 {
  0% {
    width: 0%;
    opacity: 0;

  }

  1% {
    width: 1%;
    opacity: 1;


  }

  100% {
    width: 70%;
    opacity: 1;

  }
}

@keyframes animateSkills60 {
  0% {
    width: 0%;
    opacity: 0;

  }

  1% {
    width: 1%;
    opacity: 1;


  }

  100% {
    width: 60%;
    opacity: 1;

  }
}

@keyframes animateSkills40 {
  0% {
    width: 0%;
    opacity: 0;

  }

  1% {
    width: 1%;
    opacity: 1;


  }

  100% {
    width: 40%;
    opacity: 1;

  }
}
@keyframes slideLeft {
  from {
    left: 0vw;
  }

  to {
    left: 80vw;
  }
}


/* -------------PROFFESIONAL SKILLS-------------- */

#profskills {
  box-shadow: 0px 0px 10px;
  font-family: "Odibee Sans";
  margin: 2rem 0.8rem 0.8rem 0.8rem;
  background-color: var(--pink);
  padding: 0.5rem;
  color: white;
  height: 70vh;
}
.professionaldiv {
  display: grid;
  grid-template-columns: 1fr auto;
}

.percentage p {
  font-size: 20px;
  margin: 27px;
  font-weight: bold;
  color: black;
}

.skillname h6 {
  color: black;
}

/* -------------GALLERY -------------- */

#gallery {
  font-family: "Odibee Sans";
  text-align: center;
  margin: 2rem 0.8rem 0.8rem 0.8rem;
  cursor: pointer;
}

.uidesign {
  box-shadow: 0px 0px 10px;
  height: auto;
  padding: 50px 30px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 80px;
  background-color: var(--pink);
}
.bunny,
.junoon,
.mathsg {
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
  grid-gap: 40px;
  margin: 100px 0px 100px 0px;
  justify-content: center;
}
.junoon {
  justify-content: right;
}
.imgholder,
.ld,
.cd1 {
  perspective: 600px;
}
.b1,
.b2,
.b3,
.m1,
.m2,
.m3,
.p1,
.p2,
.p3,
.l1,
.l2,
.l3,
.c1,
.c2,
.c3 {
  transform: rotateY(50deg);
  transition: all 1s ease;
}
.m1:hover,
.m2:hover,
.m3:hover,
.b1:hover,
.b2:hover,
.b3:hover,
.p1:hover,
.p2:hover,
.p3:hover,
.l1:hover,
.l2:hover,
.l3:hover,
.c1:hover,
.c2:hover,
.c3:hover {
  transform: rotateY(0deg);
}

.graphicdesign,
.ccd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 20px;
  padding: 200px 30px;
  box-shadow: 0px 0px 10px;
  margin-bottom: 1.5em;
  background-color: var(--pink);

}

/* ---------------------WORK EXPERIENCE------------------- */
#workexp h3 {
  text-align: center;
  font-family: "Odibee Sans";
  margin: 1.5rem 0.5rem 0.5rem 0.5rem;
}

.workexp1,
.workexp2,
.workexp3 {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin: 0.7rem;
  box-shadow: 0px 0px 10px;
  font-family: "Comfortaa";
}
.exp1,
.exp2info,
.exp3 {
  background-color: var(--pink);
  padding: 0.6rem;
  color: white;
}
.exp1info,
.exp2,
.exp3info {
  padding: 0.4rem;
  background-color: white;
}

.exp1info p,
.exp2info p {
  font-family: "Comfortaa";
}
.logotext {
  font-size: 25px;
}
#gdlist {
  list-style-type: circle;
}
/* -------------------CONTACT--------------------- */
#contactinfo {
  font-family: "Odibee Sans";
  text-align: center;
  margin-top: 1.8rem;
}

.contactflex {
  text-align: left;
  padding: 0.6rem;
  background-color: var(--pink);
  width: 90vw;
  margin: 0.7rem 0.7rem 0.5rem 0.7rem;
  box-shadow: 0px 0px 10px;
}
.name2,
.email2,
.phone2,
.insta {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}
.topbutton {
  display: flex;
  justify-content: center;
}
button {
  font-size: 18px;
  border-radius: 10px;
  font-family: "Odibee Sans";
  font-weight: bold;
  padding: 10px 28px;
  background-color: var(--hover-color);
  margin: 0 15px 0 0;
  outline: none;
  border: none;
}
footer {
  background-color: white;
  color: var(--pink);
  text-align: center;
  font-family: "Odibee Sans";
  padding: 0.5rem;
  margin-top: 1rem;
}

footer {
  padding: 20px 10px;
  margin: 0px;
}

footer p {
  font-size: 0.25rem;
  color: black
}


.topbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.topbutton button {
  background-color: var(--pink);
}

.socialMediaIcon:hover {
  background: var(--pink);
  transform: rotate(10deg);
}

