@media only screen and (min-width: 700px) and (max-width: 1300px) {
  .mandala img {
    height: 70vh;
    object-fit: default;
    animation: rotateHomeImg 1200s infinite ease;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    
  }  

  .mandala {
    position: relative;
    left: 25vw;
    width: 75vw;
  }

  .mainsection {
    height: 70vh;
    position: relative;
  }
  
  .introcard {
    position: absolute;
    bottom: 25%;
    left: 0vw;
    z-index: 1000;
    width: 25vw;

  }
  #aboutinfo {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      border: 1px solid blue;
    }
    .workexp1,
    .workexp2,
    .workexp3 {
      width: 90vw;
      margin: 0.55rem;
    }
    .bunny,
    .junoon,
    .mathsg {
      display: grid;
      grid-template-columns: repeat(3, 0.3fr);
      margin-top: 60px;
    }
  }
  