@media only screen and (min-width: 700px) and (max-width: 1300px) {
  .mandala img {
    height: 55vh;
    object-fit: default;
    animation: rotateHomeImg 1200s infinite ease;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    
  }  

  .mandala {
    position: relative;
    width: 75vw;

  }

  li a,button a {
    font-size: 1.5vw;
  }

  #about, #skills, #portfolio, #experience, #contact { 
    width: 10vw;
  }
  #hire {
    width: 12vw;
  }


  h1 {
    font-size: 3.5vw;
  }

  h3 {
    font-size: 3vw;

  }

  #contactinfo {
    margin-top: 2.5vw;
  }

  h4 {
    font-size: 2.5vw;
  }
  li,h6,p {
    font-size: 2.15vw;
  }

  footer p {
    font-size: 2.5vw;
  }

  #profskills h3, h3 {
    margin-bottom: 3vw;
  }

  h3 {
    margin: 1.5vw 0vw;
  }

  #profskills {
    height: 50vh;
  }

  #aboutinfo,#profskills,#workexp,#gallery,.workexp1,
  .workexp2,
  .workexp3,
  .workexp4,.contactflex {
    width: 100vw;
    margin: 0;
  }

  #workexp h3 {
    margin: 1.5vw 0vw;
  }

  

  .mainsection {
    height: 60vh;
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
  .introcard {
    z-index: 1000;
    width: 25vw;


  }

  .uidesign,.graphicdesign,.ccd {
    margin-bottom: 1.5vw;
    padding: 50px;
  }

  .uidesign {
    padding: 10px;
  }


  #aboutinfo {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
 
    .bunny,
    .junoon,
    .mathsg,.graphicdesign {
      display: grid;
      grid-template-columns: repeat(3, 0.5fr);
      padding: 50px;
      margin: 0;
    }
  }
  